html, body {
    background-color: #E9E9E9;
}

p {
    color: #333;
}

#logo-small {
    width: calc(50px + 20vh);
}

main {
    padding: 5vh 5% 0 5%;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#search-container{
    position: absolute;
    right: 10%;
    width: 50vh;
}
.test {
    position: relative;
    display: flex;
    min-width: 100px;
}
.search-icon {
    position: absolute;
    top: 8px;
    left: 15px;
    width: 20px;
}

.search-box {
    border: 1px solid grey;
    border-radius: 25px;
    height: 30px;
    width: 100%;
    padding: 2px 23px 2px 40px;
    outline: 0;
    background-color: #E9E9E9;
    font-size: 0.9em;
    font-weight: 600;
    transition: 0.5s;
}

.search-box:hover {
    background-color: #f5f5f5;
}

.search-box:focus {
    background-color: #f5f5f5;
    border: 2px solid #48cae4;
}

.content {
    display: flex;
    width: 80%;
}

.info-container p {
    width: 30%;
    line-height: 1.5em;
}

.bold {
    font-weight: 600;
}

.visualizer {
    position: absolute;
    top: 20%;
    left: 30%;
}

.graphics {
    overflow: hidden;
    width: 60vh;
    height: 60vh;
    border-radius: 50%;
}

.soundcloud-graphics {
    overflow: hidden;
    width: 60vh;
    height: 60vh;   
}

/* media */
@media screen and (max-width: 1025px) {
    /* #song-description {
        width: 200px;
    } */
}

@media screen and (max-width: 781px) {
    .content {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0;
    }

    .info-container {
        margin: auto;
        flex: 100%;
        text-align: center;
    }

    #song-description {
        margin: 0 auto;
        padding: 0 20% 3%;
        width: auto;
    }

    #search-container {
        flex: 100%;
    }

    .visualizer {
        width: 75%;
        padding: 20px;
    }
}
