/* Beats and Bops Style Sheet */

/* Accept suggestions for the font */
html {
    font-family: 'Raleway', sans-serif;
    background-color: #f5f5f5;
}
/* The content will cover the whole page (10vh for the margins) */
body {
    height: 90vh;
    font-size: calc(12px + 0.5vh);
}

.wrapper {
    width: 90%;
    margin: 5vh;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
}
p,h1,h2 {
    color: #333;
    font-weight: 500;
}

/* Here we give format to the info container which includes the logo,
song description/project description1 */
#info {
    flex: 65%;
}
#logo {
    width: calc(100px + 10vw);
}

#song-description {
    width: calc(100px + 10vw);
    width: 350px;
    line-height: 1.5;
}

/* This section is for the search container and its icons */
#search-container{
    flex: 35%;
}
.test {
    position: relative;
    display: flex;
    min-width: 100px;
}
.search-icon {
    position: absolute;
    top: 8px;
    left: 15px;
    width: 20px;
}

.search-box {
    border: 1px solid grey;
    border-radius: 25px;
    height: 30px;
    width: 100%;
    padding: 2px 23px 2px 40px;
    outline: 0;
    background-color: #E9E9E9;
    font-size: 0.9em;
    font-weight: 600;
    transition: 0.5s;
}

.search-box:hover {
    background-color: #f5f5f5;
}

.search-box:focus {
    background-color: #f5f5f5;
    border: 2px solid #48cae4;
}

/* Visualizer */
.visualizer {
    flex: 100%;
    text-align: center;
    height: 400px;
}


/* Spotify */
.iframe {
    width: 300px;
    height: 380px;
    opacity: 0%;
}

.spotify {
    text-align: center;
}

.spotifySong {
    display: none;
}

#current-song {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.iframe {
    width: 300;
    height: 380;
    opacity: 0%;
}

/* media */
/* @media screen and (max-width: 1025px) {
} */

@media screen and (max-width: 781px) {
    .wrapper {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0;
    }

    #info {
        margin: auto;
        flex: 100%;
        text-align: center;
    }

    #song-description {
        margin: 0 auto;
        padding: 0 20% 3%;
        width: auto;
    }

    #search-container {
        flex: 100%;
    }

    .visualizer {
        width: 75%;
        padding: 20px;
    } 
}

/* media */
@media screen and (max-width: 1025px) {
    #song-description {
        width: 200px;
    }
}

@media screen and (max-width: 781px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 0;
    }

    #info {
        display: flex;
    }
    
    #info img {
        padding-right: 10px;
    }

    #info p {
        width: max-content;
    }

    #search-container {
        position: inherit;
        width: 100%;
        padding-bottom: 10px;
    }

    .circle {
        width: 40vw;
        height: 40vw;
        align-self: center;
        margin: 10px 0px 0px 0px;
        position: initial;
    }
    #current-song {
        justify-content: center;
        width: 100%;
        padding-bottom: 20px;
        position: initial;
        margin-top: 20px;
    }

    #logo {
        height: 100px;
    }
}